<a href="https://colab.research.google.com/github/Kashifletslearn/Day-07-30-Python/blob/main/Day_07_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hello i am Kashif khan let's learn together

1.   Github   : https://github.com/Kashifletslearn/Day-07-30-Python
2.   Linkedin : https://www.linkedin.com/in/kashifkhank/
3.   Gmail    : kashifdocument11@gmail.com

#For suggestions and improvement Email me

## <u>Problem 1</u>

### As an analyst, you had to present the quarterly performance results of your client. The data which you were provided was on daily basis. To complete this task, you needed to extract the quarter from a given date. For example:

* if the date lies between 1st Jan, 2020 - 31st March, 2020, you need to extract the corresponding quarter as '2020-Q1'

* if the date lies between 1st April, 2020 - 30th June, 2020, the extracted quarter will be '2020-Q2'

* if the date lies between 1st July, 2020 - 30th September, 2020, the extracted quarter will be '2020-Q3'

* if the date lies between 1st October, 2020 - 31st Decemeber, 2020 then the extracted quarter will be '2020-Q4'

In [1]:
# Taking date input form user
user_date = input()

2024-02-11

In [2]:
date_year = user_date[:4]
date_month = user_date[5:7]

if (date_month >= '01') & (date_month <='03'):
    quarter = date_year + '-Q1'
elif (date_month >= '04') & (date_month <='06'):
    quarter = date_year + '-Q2'
elif (date_month >= '07') & (date_month <='09'):
    quarter = date_year + '-Q3'
else:
    quarter = date_year + '-Q4'

In [3]:

print(quarter)

2024-Q1

## <u>Problem 2 </u>

* You went out in your local neighbourhood to collect the data of people residing in the locale. You surveyed 5 people and collected some data and stored that in a dictionary. You recorded their names, their age, their sex, their heights(in cms) and their weights(in kgs)

In [4]:
locality_data = {'Name' : ['Abhinav','Sohail','Dheeraj','Rashmi','Vaishali'],
                  'Age' : [42,29,35,28,32],
                  'Sex' : ['Male', 'Male','Male','Female','Female'] ,
                  'Height' : [172,175,170,168,170],
                  'Weight' : [70,82,60,55,64]
                 }

In [5]:

heights = locality_data['Height']
# Calculating the mean of the heights
mean_height = sum(heights)/len(heights)
print(mean_height)


# Calculating the median height
sorted_heights = sorted(heights)
median_height = sorted_heights[int((len(sorted_heights)+1)/2) - 1]
print(median_height)



# Calculating the mean weight
weights = locality_data['Weight']
mean_weight = sum(weights)/len(weights)
print(mean_weight)


# Calculating the median height
sorted_weights = sorted(weights)
median_weight = sorted_weights[int((len(sorted_weights)+1)/2 )- 1]
print(median_weight)

171.0
170
66.2
64

* Write a Python code to print the first three elements from the list of age values corresponding to the key 'Age'

In [6]:
ages = locality_data['Age'][:3]
print(ages)

[42, 29, 35]

* Write a Python code to print the last two elements of the name list if the list of values corresponding to the key 'Name' contains the element 'Rashmi' else print 'Name not found'

In [7]:
name_list = locality_data['Name']

if 'Rashmi' in name_list:
  print(name_list[-2:])
else:
  print("Name not found")

['Rashmi', 'Vaishali']